.product_main_container{
    margin-top: 100px;
}

.product_container{
    height: calc(100vh - 56px);
    display: flex;
    align-items: center;
    margin-top: 0px;  
    width: 500vw;
    transition: 1.5s ease-in-out;
}

.product{
    display: flex;
    width: 100vw;
    background-color: rgb(221, 220, 220);
    clip-path: polygon(0 0, 95% 10%, 100% 100%, 5% 95%);
}

.product .images{
    width: 40%;
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.product .images img{
    width: 100%;
}

.product_info{
    margin-left: 100px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 2rem;
}

.product_text_info h1{
    font-size: 55px;
}

.product_text_info h4{
    font-size: 25px;
    font-weight: 400;
    color: rgb(116, 116, 116);
    margin-bottom: 20px;
}

.product_specs .colors div{
    height: 25px;
    width: 25px;
    border-radius: 3px;
    margin-right: 20px;
    cursor: pointer;
    outline: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_specs .colors{
    display: flex;
    margin: 40px 0px 20px 0px;
}

.product_specs .size{
    display: flex;
}

.product_specs .size div{
    cursor: pointer;
    display: flex;
    margin-right: 30px;
    outline: 1px solid black;
    width: 25px;
    height: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.product_specs .size div:hover{
    background-color: black;
    color: #fff;
}

.product_specs button{
    margin-top: 40px;
    font-size: 30px;
    padding: .5rem 1.5rem;
    font-weight: 700;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    transition: .3s;
}

.product_specs button:hover{
    color: #000;
    background-color: #fff;
}

#checked{
    border-radius: 50%;
}

.other_specs{
    display: flex;
}

.other_specs .select{
    margin-right: 20px;
}

.other_specs .select select{
    border-radius: 3px;
    width: 50px;
    font-size: 18px;
    outline: 1px solid black;
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 1200px) {
    .product{
        height: 80vh;
    }
}

@media screen and (max-width: 1100px) {
    .product .images{
        width: 60%;
        margin-left: 50px;
    }
    .product_info{
        margin-left: 30px;
        max-width: 40%;
        margin-right: 50px;
    }
}

@media screen and (max-width: 820px) {
    .product{
        flex-direction: column;
        height: auto;
        align-items: center;
        margin-top: auto;
        padding-bottom: 5rem;
    }
    .product .images{
        margin-top: 80px;
    }
    .product_info{
        margin-left: 0px;
        max-width: 80%;
        margin-right: 0px;
        text-align: center;
        align-items: center;
    }
    .other_specs{
        justify-content: center;
    }
    .other_specs .select{
        margin: 0px 10px; 
    }
    .product_specs .colors{
        justify-content: center;
    }
    .product_specs .colors div{
        margin: 0px 10px;
    }
}